<!DOCTYPE html>

<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="../static/css/styles_info.css">
        <meta charset="UTF-8">
    </head>
  <body>
    <div class="see-through-rectangle">
        <header>INFORMATION PAGE</header>
        <nav>
            <a href="/">Home</a>
            <a href="/info-page">Info_page</a>
            <a href="#">GPU_database</a>
        </nav>
        <h2>&nbsp;catagory explainations:</h2>
        <h3>&nbsp;chip manufacture-</h3>
        <p></p>
    </div>
  </body>
</html>