<!DOCTYPE html>

<html lang="en">
<head>
    <title>catagory info</title>
    <link type="text/css" rel="stylesheet" href="../static/css/styles_info.css">
    <meta charset="UTF-8">
</head>
  <body>
  <div class="see-through-rectangle">
    <h2>&nbsp;catagory explainations:</h2>
    <h3>&nbsp;chip manufacture-</h3>
    <p></p>
  </div>
    <header>
        <h1>INFORMATION PAGE</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/info-page">Info_page</a>
        <a href="/gpu-page">GPU_database</a>
        <a href="/AMD-gpu-page">AMD_GPUs</a>
        <a href="/NVIDIA-gpu-page">NVIDIA_GPUs</a>
    </nav>
  </body>
</html>