<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="../static/css/styles_main_page.css">
</head>
    <body>

        <header>
            <h1>GPU database</h1>
        </header>

        <nav>
            <a href="/">Home</a>
            <a href="/info-page">Info_page</a>
            <a href="#">GPU_database</a>
        </nav>

        <h2>Gaming GPU database</h2>
        <p>Here you can find information for 20 popular gaming GPUs and sort throughout  and filter them according you your needs
        for the list of all gaming GPUs click "GPU_database"</p>
        <p>for information page explaining the list's categories as well as other useful resources click "info_page"</p>

    </body>
</html>