<!DOCTYPE html>
<html lang="en">
<head>
  <title>GPU database styles</title>
  <link type="text/css" rel="stylesheet" href="styles_main_page.css">
</head>
    <body>

        <header>
            <h1>GPU database</h1>
        </header>

        <nav>
            <a href="main-web-page.html">Home</a>
            <a href="info.html">Info_page</a>
            <a href="#">GPU_database</a>
        </nav>

        <section>
            <h2>Gaming GPU database</h2>
            <p>Here you can find information for 20 popular gaming GPUs and sort throughout  and filter them according you your needs
            for the list of all gaming GPUs click "GPU_database"</p>
            <p>for information page explaining the list's categories as well as other useful resources click "info_page"</p>
        </section>

    </body>
</html>