<!DOCTYPE html>
<html lang="en">
<head>
    <title>GPU database</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/styles_gpu1.css">
</head>
    <header>
        <h1>NVIDIA GPU database</h1>
    </header>
        <div class="black-line"></div>

    <nav>
        <a href="/">Home</a>
        <a href="/info-page">Info_page</a>
        <a href="/gpu-page">GPU_database</a>
        <a href="/AMD-gpu-page">AMD_GPUs</a>
        <a href="/NVIDIA-gpu-page">NVIDIA_GPUs</a>
                <form method="post" action="/search">
                    <label for="searchbox">Search GPU database:</label>
                    <input type="text" name="Search" id="searchbox">
                    <input type="submit" value="Search">
                </form>
    </nav>
<body>
    <main>
        <div class="table-box">
            <table>
                <thead>
                    <tr>
                        <th>chip_manufacture</th>
                        <th>series</th>
                        <th>GPU</th>
                        <th>Vram</th>
                        <th>clockspeed_in_MHz</th>
                        <th>is_currently_manufactured</th>
                        <th>average_price_NZD</th>
                        <th>average_benchmark</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>
                                {{ row[0] }}
                            </td>
                            <td>
                                {{ row[1] }}
                            </td>
                            <td>
                                {{ row[2] }}
                            </td>
                            <td>
                                {{ row[3] }}
                            </td>
                            <td>
                                {{ row[4] }}
                            </td>
                            <td>
                                {{ row[5] }}
                            </td>
                            <td>
                                {{ row[6] }}
                            </td>
                            <td>
                                {{ row[7] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
