




html{
   background-image: url(main_background.jpeg);
   background-size: cover;
}
body {
       font-family: Arial, sans-serif;
       margin: auto;
       padding: 0;
       grid-template-columns: 1fr 4fr;
       color: black;
}
header {
   background-color: #3DF315;
   color: #E62F23;
   padding: 10px 20px;
   text-align: center;
}
nav {
   background-color: #E62F23;
   padding: 10px 20px;
   text-align: center;
}
nav a {
   color: #000000;
   text-decoration: none;
   margin: 0 10px;
}
nav a:hover {
   text-decoration: underline;
}


table {
   left: 90px;
}




.table-box h2 {
   margin-top: 0;
}


.table-box table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
}


.table-box th, .table-box td {
   border: 2px solid #000000;
   padding: 8px;
   text-align: left;
}

