
html{
    background-image: url(info_background.jpeg);
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    z-index: 2;
}
header {
    background-color: #3DF315;
    color: #E62F23;
    padding: 10px 20px;
    text-align: center;
    z-index: 2;
}

nav {
    background-color: #E62F23;
    padding: 10px 20px;
    text-align: center;
    z-index: 2;
}
nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    z-index: 2;
}
nav a:hover {
    text-decoration: underline;
    z-index: 2;
}

.see-through-rectangle {
    position: absolute;
    top: 138px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}